services:
  ai-zhishengji:
    container_name: ai-zhishengji-web
    build:
      context: .
      dockerfile: Dockerfile
    restart: always
    ports:
      - "8084:80"
      - "8444:443"
    volumes:
      - ./certs:/etc/nginx/ssl
      - ./nginx.conf:/etc/nginx/nginx.conf

## 执行命令 
## docker-compose down
## docker-compose up --build -d
