name: 部署AI职升姬到开发服务器上
on:
  pull_request:
    branches:
      - develop
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: npm install -g pnpm
        run: npm install -g pnpm
      - name: pnpm install
        run: pnpm install
      - name: npm run build:dev
        env:
          NODE_OPTIONS: '--max_old_space_size=4096'
        run: export NODE_OPTIONS="--max_old_space_size=4096" && npm run build:dev
      - name: Deploy
        uses: cross-the-world/scp-pipeline@master
        env:
          WELCOME: 'ssh scp ssh pipelines'
          LASTSSH: 'Doing something after copying'
        with:
          host: ${{ secrets.USER_HOST }}
          user: ${{ secrets.USER_NAME }}
          pass: ${{ secrets.USER_PASS }}
          connect_timeout: 10s
          local: './dist/*'
          remote: /www/wwwroot/huajian.maobucv.com/develop/dist
